/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
.button {
-fx-text-fill: white;
-fx-font-size: 15px;
/*-fx-font-family: 'Roboto', sans-serif;*/
-fx-skin: 'com.digiunion.gui.skin.TabSkin';
-fx-background-color: #404446;
-fx-background-radius: 0px;
-fx-font-weight: 600;
}
/*.button:hover{
-fx-background-color: #54626F;
}
*/
.button:focused{
-fx-background-color: #0B6623;
}
