/*@font-face {
font-family: 'Roobert-Regular';
src: url('fonts/Roobert-Regular.ttf);
}*/
.text {
  -fx-fill: #D1CBC1;
  -fx-font-size: 0px;
  -fx-font-weight: 200;
}
.label {
   -fx-text-fill: white;
   -fx-font-size: 15px;
   -fx-font-weight: 200;
}
.button {
  -fx-font-weight: 200;
  -fx-background-color: #404446;
  -fx-background-radius: 0px;
  -fx-text-fill: white;
  -fx-font-size: 15px;
  -fx-font-weight: 200;
/*-fx-font-family: 'Roobert-Regular';*/
}
#tab {
  -fx-font-weight: 200;
  -fx-background-color: #404446;
}
#add-button{
  -fx-background-color: #36393e;
}
/*.button:hover{
-fx-background-color: #54626F;
}*/
